/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

@font-face {
    font-family: 'Newsreader_24pt-Regular';
    src: url('../../fonts/Newsreader_24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Newsreader_24pt-Medium';
    src: url('../../fonts/Newsreader_24pt-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('../../fonts/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *, html {
    margin:0;
    padding:0;  
}

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Newsreader_24pt-Regular', sans-serif;
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .black-bar {
    background-color: #3d3d3d;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .black-barwriting {
    color: #ffffff;
    margin: 0;
    font-size: 0.83em;
  }
  
/*header*/

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px; 
  }
  
  #header-logo {
    margin-left: 61px;
    margin-top: 5px;
    margin-bottom: 0px;
    max-width: 100%; 
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    margin-left: 0px; 
    margin-right: 126px; 
    margin-top: 5px; 
    font-family: 'DMSerifDisplay-Regular', sans-serif;
    font-size: 22px
  }
  
  .nav-links a {
    width: auto;
    height: auto;
    margin-left: 99px; 
    text-align: center;
    line-height: 24px;
    background-color: #ffffff;
    text-decoration: none;
    color: #000;
  }

  /*video*/ 

  .video-row1 video {
    width: 100%;
    height: auto;
    margin-top: 0px
}

