/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

@font-face {
    font-family: 'Newsreader_24pt-Regular';
    src: url('../../fonts/Newsreader_24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Newsreader_24pt-Medium';
    src: url('../../fonts/Newsreader_24pt-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NotoSans_Condensed-Medium';
    src: url('../../fonts/NotoSans_Condensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *, html {
    margin:0;
    padding:0;  
}

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Newsreader_24pt-Regular', sans-serif;
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .black-bar {
    background-color: #3d3d3d;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .black-bar p {
    color: #ffffff;
    margin: 0;
    font-size: 0.83em;
}
  
/*header*/

  header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  #header-logo {
    margin-left: 61px;
    margin-top: 5px;
    margin-bottom: 8px;
    max-width: 100%; 
  }
  
  header nav {
    display: flex;
    align-items: center;
    margin-left: 0px; 
    margin-right: 126px; 
    margin-top: 5px; 
    font-family: 'NotoSans_Condensed-Medium', sans-serif;
    font-size: 22px
  }
  
  header nav a {
    width: auto;
    height: auto;
    margin-left: 99px; 
    text-align: center;
    line-height: 24px;
    background-color: #ffffff;
    text-decoration: none;
    color: #000;
  }

/*main*/

  .video-row1 video {
    width: 100%;
    height: auto;
    margin-top: 0px
  }

/*content row 2*/

  .content-row2 {
    display: flex;
    align-items: center;
    width: 100%;
}

  .content-row2 img {
    margin-left: 4%; 
    margin-top: 8%; 
    border-radius: 40px; 
    width: 55%; 
}

  .content-row2 p {
    margin-top: 8%; 
    margin-left: 10%; 
    font-size: 2.66em; 
    width: 45%; 
    height: auto; 
    word-wrap: break-word;
}

/*content row 3*/
  
.content-row3 {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  width: 100%;
}

.content-row3 h1 {
  font-family: 'NotoSans_Condensed-Medium', sans-serif;
  font-size: 20px; 
  color: #8d8d8d;
  margin-top: 10%;
  margin-left: 4%;
}

.content-row3 p {
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
  font-size: 2.08em;
  height: auto;
  word-wrap: break-word;
}

/*content row 4*/

.content-row4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%
}

h2 {
  font-family: 'Newsreader_24pt-Medium', sans-serif;
  font-size: 1.2em;
  margin-top: 8%;
  margin-left: 4%;
  color: #333; /* Adjust the color as needed */
}

.customerimages1 {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  width: 89%;
  gap: 1%; 
}

.customerimages1 img {
  margin-top: 4%;
  border-radius: 40px;
  width: 25%; 
  height: auto;
}
 
/*content row 5*/





